.getAheadTheCurve{
  position:relative;
  display: flex;
  flex-direction:column;
  top: -60px;
  padding-top: 0;
  @include respond-to('medium') {
    flex-direction:row;
  }
  figure{
    @include respond-to('medium') {
      position:relative;
      left:0;
      margin-left: 0;
    }

  }
  article{
    background:#fff;
    display: flex;
    flex-direction:column;
    margin-left: 40px;
    margin-top:auto;
    margin-bottom:auto;
    max-width: 380px;
  }

}
