
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  display: flex;
  flex-direction:column;
  max-width: 1280px;
  margin-left:auto;
  margin-right:auto;

  font-family: 'Open Sans', sans-serif;
}


.section-title {

  font-size: 2rem;
  font-weight: bold;
  color: #324063;

}
.section-subtitle {
  margin-top: 20px;
  color: #5a6582;
  font-size: 0.8rem;
  font-weight: 600;
}
